{
  "ConnectionStrings": {
    "DefaultConnection": "DataSource=app.db"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Warning"
    }
  },
  "AllowedHosts": "*",
  "GOOD_API_KEY": "YOUR_API_KEY",
  "ACCOUNT_EMAIL": "EMAIL_ADDRESS_FOR_UPTIME_ROBOT_ACCOUNT"
  "GOOD_MONITOR_ID_1": "A_MONITOR",
  "GOOD_MONITOR_ID_2": "ANOTHER_MONITOR",
  "GOOD_MONITOR_1_FRIENDLY_NAME": "THE_FIRST_MONITORS_NAME",
  "GOOD_MONITOR_2_FRIENDLY_NAME": "THE_SECOND_MONITORS_NAME"
}
